*
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

body 
{
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
}

img 
{
    display: inline-block; 
    margin-bottom: 0;
}

a,
a:hover,
a:focus 
{
    text-decoration: none;
}

p  
{
    color: $primaryColor;
    font-size: $fontSizeBase * 1.8;
    font-weight: $fontWeightNormal;
    line-height: 1.5em;
}